*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

:root{
    --celeste: #2075ed;
    --poppins: 'Poppins', sans-serif;
    --open-sans: "Open Sans",sans-serif;
    --titulos-size: 50px;
}

body {
    background: #fff;
    font-family: var(--open-sans);
    font-size: 16px;
}

.contenedor{
    width:90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.divider{
    margin: 0 auto;
    width: 15%;
    height: 0.4rem;
    background-color: #dbdaf3;
    border: none;
}

.divider-about{
    margin: 0 auto;
    width: 20%;
    height: 0.4rem;
    background-color: #727277;
    border: none;
}

/* ------- --- INICIO HEADER --- -------*/
header{
    background: #12c2e9;
    background: linear-gradient(to right, rgba(245, 80, 91,0.6), rgba(196, 113, 237,0.5),
     rgba(18, 194, 233,0.1)), url('../img/bg.jpg') var(--celeste); 
    background-repeat: no-repeat;
    background-position: center;
    max-height: 1500;
    object-fit: cover;
    background-attachment: fixed;
}

header .menu nav {
    margin: 0;
    text-align: right;
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    background: rgb(0, 0, 0);
}

header .menu nav ul{
    list-style: none;
    margin:0;
    padding:0 0 5px 0;
}

header .menu nav ul li{
    display: inline;
    width: 100%;
    margin:0 2px;
}
header .menu nav ul li a {
    display: inline-block;
    text-decoration: none;
    margin: 0;
    padding: 15px 10px 5px 10px;
    color: #fff;
    padding-bottom: 9px;
    font-size: 15px;
    border-bottom: 2px solid transparent;
    font-weight: bold;
    transition: .6s;
}

header .menu a:hover{
    border-bottom: 2px solid #fff;
    padding: 15px 10px 9px 10px;
    background-color: var(--celeste);
    font-weight: bold;
}

header .contenedor-texto{
    display:flex;
    margin: 190px 0;
    justify-content: center;
    align-content: center;
}

header .contenedor-texto .texto{
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 5px;
    display:inline-block;
    text-align: center;
    padding: 20px 60px;
}

header .contenedor-texto .texto:hover{
    border: solid 2px rgba(0, 0, 0, 0.8);
    box-shadow: 3px 2px 5px #1c1c1c;
}

header .contenedor-texto .texto h1,
header .contenedor-texto .texto h2{
    color:#fff;
    font-weight: 300;
    margin: 0;
}

header .contenedor-texto .texto .nombre{
    margin-bottom: 10px;
    font-size: 50px;
    line-height: 50px;
}

header .contenedor-texto .texto .profesion{
    font-size: 25px;
    line-height: 25px;
}
/* ------- --- FIN HEADER --- -------*/

/* ------- --- INICIO MAIN --- -------*/
.main .contenedor{
    overflow: visible;
}

.main .acerca-de {
    text-align: center;
}

.main .acerca-de .contenedor .foto{
    margin-top: -60px;
}

.main .acerca-de .contenedor .foto img{
    vertical-align: top;
    border-radius: 100%;
    border: solid 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    object-fit: cover;
}


.main .acerca-de .contenedor .foto img:hover{
    transform: scale(1.6);
    border: solid 5px rgba(0, 0, 0, 0.8);
}

.main .acerca-de .texto{
    color: #5a5a5a;
    font-weight: 600;
    font-size: 1em;
    line-height: 30px;
    width: 80%;
    margin: 40px auto 60px auto;
}

.main .acerca-de .texto .titulo{
    font-size:var(--titulos-size);
    line-height:34px;
    margin-bottom: 1rem;
    font-weight: 600;
    text-align: center;
    color: #dd820d;
    opacity:0.8;
}

.main .acerca-de .texto .titulo:hover{
    opacity:1;
}

.main .acerca-de .texto p{
    margin-top: 3rem;
}

/*-----------------Seccion cursos-----------------*/

.main .cursos{
    background: linear-gradient(rgba(1, 27, 48, 0.9),rgba(26, 3, 32, 0.9), rgba(48, 0, 70, 0.8)), url("../img/Secciones/cursos.jpg");
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 4rem;
    padding-bottom: 8rem;
}

.main .cursos .contenedor{
    overflow: hidden;
}

.main .cursos .contenedor .titulo{
    font-size: var(--titulos-size);
    line-height:34px;
    margin-bottom: 1rem;
    font-weight:600;
    color: var(--celeste);
    text-align: center;
    opacity: 0.8;
}

.main .cursos .titulo:hover{
    opacity:1;
}

.main .cursos .contenedor-cursos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2rem 0.6rem 0 0.95rem;
    margin-top: 3rem;
}

.main .cursos .contenedor-cursos .curso{
    width: 30%;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(78, 7, 57, 0.3));
    border-radius: 5px;
    padding-top: 35px;
}

.main .cursos .contenedor-cursos .curso:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(78, 7, 57, 0.6));
    box-shadow: 3px 3px 8px rgb(0, 0, 0, .6);
}

.main .cursos .contenedor-cursos .curso .thumm-curso{
    width:100%;
    height: 100%;
    margin: 0 0 35px  0;
    display: flex;
    justify-content: center;
    align-content: center;
}

.main .cursos .contenedor-cursos .curso .thumm-curso a{
    width:180px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.main .cursos .contenedor-cursos .curso .thumm-curso a img{
    width: 140px;
    height: 140px;
    border-radius: 100%;
    transition: .2s transform ease;
    opacity: 0.7;
    background-size: cover; 
    justify-content: center;
    align-content: center;
    object-fit: cover;
}

.main .cursos .contenedor-cursos .curso .thumm-curso img:hover {
    opacity: 1;
    transform: scale(1.3);
    box-shadow: 13px 13px 13px #0a0a0a;
    cursor: pointer;
}

.main .cursos .contenedor-cursos .curso .descripcion{
    text-align: center;
    width: 100%;
}

.main .cursos .contenedor-cursos .curso .descripcion .nombre{
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 10px;
    font-family: var(--poppins);
}
.main .cursos .contenedor-cursos .curso .descripcion .categoria{
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
}

/*-----------------Fin seccion cursos-------------*/

/*-------------------WAVES------------------------*/
.waves__container{
    position: relative;
}
.waves {
    
    position:absolute;
    top: -90px;
    width: 100%;
    height:20vh;
    min-height:100px;
    max-height:150px;
}

  /* Animation */

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
    transform: translate3d(-90px,0,0);
    }
    100% { 
    transform: translate3d(85px,0,0);
    }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
    height:100%;
    }
}

/*--------------------------------------FIN WAVES------------------------------------------------*/

/*------------INICIO SECCION DE PROYECTOS--------------*/
.main .proyectos{
    padding: 60px;
    background: linear-gradient(rgba(27, 27, 24, 1),#2e0e46, #c31432);
    background-color: #333;
}

.main .proyectos .contenedor{
    overflow: hidden;
}

.main .proyectos .titulo{
    font-size: var(--titulos-size);
    line-height:34px;
    margin-bottom: 1rem;
    font-weight:600;
    color: #dbdaf3;
    text-align: center;
    opacity: 0.8;
}

.main .proyectos .titulo:hover{
    opacity:1;
}

.main .proyectos .contenedor-proyectos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 3rem 0.6rem 0 0.6rem;

}

.main .proyectos .contenedor-proyectos .proyecto{
    width: 30%;
    margin-bottom: 40px;
}

.main .proyectos .contenedor-proyectos .proyecto .thumb{
    position: relative;
    cursor: pointer;
    overflow: hidden;
    width:80%;
    height: 240px;
    margin: 0 10px 10px 10px;
}

.main .proyectos .contenedor-proyectos .proyecto .thumb::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    transform: scale(0);
    transition: opacity, transform 1s;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 5px;

}

.main .proyectos .contenedor-proyectos .proyecto .thumb:hover::before{
    transform: scale(1) rotate(360deg) ;
    opacity: 0.8;
}

.main .proyectos .contenedor-proyectos .proyecto .thumb:hover p{
    opacity: 1;
}


.main .proyectos .contenedor-proyectos .proyecto .thumb img{
    width: 100%;
    height: 240px;
    vertical-align: top;
    border-radius: 5px;
    object-fit: cover;
}

.main .proyectos .contenedor-proyectos .proyecto .thumb  p{
    position: absolute;
    opacity: 0;
    top:35%;
    left: 5%;
    right: 5%;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    transition: opacity 0.2s ;
    transition-delay: 0.3s;
}

.main .proyectos .contenedor-proyectos .proyecto .descripcion{
    text-align: center;
    width: 80%;
}

.main .proyectos .contenedor-proyectos .proyecto .descripcion .nombre{
    font-weight: 700;
    color: var(--celeste);
    margin-bottom: 10px;
}
.main .proyectos .contenedor-proyectos .proyecto .descripcion .categoria{
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
}
/* ------- --- FIN PROYECTOS ----------*/

/* ---------- INICIO SEPARADOR SKILLS ----------*/
.separador-skills{
    width: 100%;
    height: 30rem;
    background: url(/img/separador-skills.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    margin-bottom: 3rem;
}

.text-skill{
    color: #fff;
    font-size: 12rem;
    opacity: 0.8;
    box-shadow: 0 0 0.5rem #000;
    padding: 0 1rem;
}

/* ------- --- FIN SEPARADOR SKILLS ----------*/


/* ---------- INICIO SECCION SKILLS ----------*/
.skills{
    width:100%;
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.contenedor-skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    padding-bottom: 3rem;
}
.skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: auto;
}

.skill img{
    width: 140px;
    height: 140px;
    padding: 10px 10px;
}


.skill .skill-titulo{
    opacity: 0;
    color:#fff;
    margin-top: 2rem;
    font-family: var(--poppins);
}

.skill .img:hover ~ .skill-titulo {
    transition: 0.7s;
    opacity: 1;
}

.skills .contenedor-skills .skill .html:hover{
    box-shadow: 0 0 15px rgb(248, 73, 19);
    border-radius: 5px;
}

.skills .contenedor-skills .skill .css:hover{
    box-shadow: 0 0 15px rgb(0, 124, 226);
    border-radius: 5px;
}

.skills .contenedor-skills .skill .sass:hover{
    box-shadow: 0 0 15px rgb(255, 47, 116);
    border-radius: 5px;
}

.skills .contenedor-skills .skill .js:hover{
    box-shadow: 0 0 15px RGB(231 233 52);
    border-radius: 5px;
}

.skills .contenedor-skills .skill  .java:hover{
    box-shadow: 0 0 15px rgba(255, 5, 5, 0.973);
    border-radius: 5px;
}

.skills .contenedor-skills .skill  .spring:hover{
    box-shadow: 0 0 15px rgb(92, 172, 0);
    border-radius: 5px;
}

.skills .contenedor-skills .skill  .node:hover{
    box-shadow: 0 0 15px rgb(71, 66, 66);
    border-radius: 5px;
}

.skills .contenedor-skills .skill  .mysql:hover{
    box-shadow: 0 0 15px rgb(0,97,138);
    border-radius: 5px;
}

/* ---------- FIN SECCION SKILLS ----------*/

/* ------- --- FIN MAIN --- -------*/

/* ------- --- INICIO FOOTER --- -------*/

/* ------- --- Contacto --- -------*/
footer .contacto {
    padding: 60px 0;
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #1e2b38, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

footer .contacto .titulo{
    font-size: var(--titulos-size);
    padding: 20px 0;
    line-height:34px;
    font-weight:600;
    color: var(--celeste);
    text-align: center;
    opacity: 0.8;
}

footer .contacto .titulo:hover{
    opacity:1;
}

footer .contacto .formulario{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 3rem;
}

footer .contacto .formulario input[type="text"],
footer .contacto .formulario input[type="email"],
footer .contacto .formulario textarea {
    border: none;
    border-bottom: 2px solid #cecece;
    padding: 15px 20px;
    font-size: 20px;
    color: var(--celeste);  
    background: none;

}
footer .contacto .formulario input[type="text"]:hover,
footer .contacto .formulario input[type="email"]:hover,
footer .contacto .formulario textarea:hover{
    outline: none;
    border-bottom: 2px solid var(--celeste);
}

footer .contacto .formulario input[type="text"]:focus,
footer .contacto .formulario input[type="email"]:focus,
footer .contacto .formulario textarea:focus{
    outline: none;
    border-bottom: 1px solid var(--celeste);
}

footer .contacto .formulario input[type="text"],
footer .contacto .formulario input[type="email"]{
    width:42.5%;
    margin-bottom: 15px;
}

footer .contacto .formulario textarea{
    width: 90%;
    height: 100px;
    min-width: 90%;
    max-width: 90%;
    min-height: 100px;
    max-height: 300px;
    margin-bottom: 2rem;
}

footer .contacto .formulario .boton{
    margin: auto;
    background: var(--celeste); 
    color: #fff;
    border: 2px solid #0568cb;
    padding: 15px 40px ;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 1rem;
}

footer .contacto .formulario .boton:hover{
    box-shadow: 0 0 10px var(--celeste);
}

/* ------- --- Redes Sociales --- -------*/

footer .redes-sociales{
    background: #1e2b38;
    padding: 60px 0;
}

footer .redes-sociales .contenedor{
    display: flex;
    justify-content: center;
}

footer .redes-sociales a{
    color: #fff;
    text-align: center;
    width: 4rem;
    display: block;
    padding: 1rem 0;
    border-radius: 100%;
    font-size: 30px;
    margin: 0 20px;
}

footer .redes-sociales .twitter:hover {
    background: #1da1f2;
    background: radial-gradient(circle at 30% 107%, #98cdee 0%, #94cef1 5%, #43b5fc 45%,#1da1f2 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.8);
    transform: scale(1.4);
}

footer .redes-sociales .facebook:hover {
    background: radial-gradient(circle at 30% 107%, #375985 0%, rgb(55, 132, 168) 5%, #0b4da3 45%,#012452 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.8);
    transform: scale(1.4);
}

footer .redes-sociales .linkedin:hover {
    background: radial-gradient(circle at 30% 107%, #c3e7f8 0%, #39a0cf 5%, #0e76A8 45%,#044d6e 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.8);
    transform: scale(1.4);
}

footer .redes-sociales .github:hover {
    background: radial-gradient(circle at 30% 107%, #ffffff 0%, #adada8 5%, #57606a 45%,#000000 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.8);
    transform: scale(1.4);
}

footer .redes-sociales .instagram:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.8);
    transform: scale(1.4);
}




/*-----------------MEDIA QS--------------------*/

@media screen and (max-width: 800px) {
    header .menu{
    text-align: center;
    }

    .main .proyectos .contenedor-proyectos .proyecto{
        width: 46%;
    }

    .main .cursos .contenedor-cursos .curso{
    width: 46%;
    }
    .main .cursos{
    background-size: cover;
    }

}

@media screen and (max-width: 590px) {
    

    .main .cursos .contenedor-cursos .curso{
        width: 46%;
    }

    .main .cursos .contenedor .titulo{
        line-height: 1.5;
    }
   
    .main .cursos{
        background-size: cover;
    }
 
 }


 @media screen and (max-width: 525px) {
    
    .main .proyectos .contenedor-proyectos .proyecto  {
        width: 100%;
        margin: 20px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }

    .main .proyectos .contenedor-proyectos .proyecto .thumb{
        width: 100%;
        align-self: center;
        justify-self: center;
        margin-bottom: 25px;
    }

    .main .proyectos .contenedor-proyectos .proyecto .thumb img:hover{
        transform: scale(1.1);
        box-shadow: 6px 6px 10px #0a0a0a;    
    }

    header .contenedor-texto .texto{
        padding: 10px 20px;
    }

    header .contenedor-texto .texto .nombre{
        font-size: 25px;
    }
    
    header .contenedor-texto .texto .profesion{
        font-size: 20px;
    }

    header .menu nav ul li a {
        font-size: 11px;
    }

    .main .cursos .contenedor-cursos .curso{
        width: 90%;
    }
    
    .main .cursos .contenedor .titulo{
        line-height: 1.5;
    }

    .main .proyectos .contenedor .titulo{
        line-height: 1.5;
    }
    

    .main .proyectos .contenedor-proyectos .proyecto{
        width: 90%;
    }
    
    .main .cursos{
        background-size: cover;
    }

    footer .contacto .formulario input[type="text"],
    footer .contacto .formulario input[type="email"],
    footer .contacto .formulario textarea{
    width:100%;
    margin-bottom: 15px;
    min-width: 100%;
    }

    .main .acerca-de .texto .titulo, 
    .main .cursos .contenedor .titulo,
    .main .proyectos .contenedor .titulo,
    footer .contacto .contenedor .titulo{
        font-size: 30px;
    }

    .main .cursos .contenedor-cursos .curso .thumm-curso{
        width:90%;
        height: 140px;
        margin: 0 10px 10px 10px;
    }

    .main .cursos .contenedor-cursos .curso .thumm-curso img{
        width: 80%;
        height: 100px;
        align-items: center;
    }

    .main .cursos .contenedor-cursos .curso .descripcion{
        text-align: center;
        width: 100%;
    }
    
    .main .cursos .contenedor-cursos .curso .descripcion .nombre{
        font-weight: 700;
        color: #ffffff;
        margin-bottom: 10px;
        font-family: var(--poppins);
        font-size: 15px;
    }

    .main .proyectos{
        width:100%;
        margin: 0 ;
        padding:0;
    }

    .main .proyectos .contenedor-proyectos .proyecto{
        width: 100%;
    }
    

    .main .proyectos .contenedor-proyectos .proyecto .descripcion{
        text-align: center;
        width: 100%;
    }

    
    footer .redes-sociales .contenedor{
        flex-wrap: wrap;
        padding: 20px 0;
    }
 
 }