*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

:root{
    --celeste: #2075ed;
    --poppins: 'Poppins', sans-serif;
    --open-sans: "Open Sans",sans-serif;
    --titulos-size: 50px;
}

body {
    background: #fff;
    font-family: var(--open-sans);
    font-size: 16px;
}

.contenedor{
    width:90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

/* ------- --- INICIO HEADER --- -------*/
header{
    background: url('../img/bg.jpg') var(--celeste);
    background-repeat: no-repeat;
    background-position: center;
    max-height: 500px;
}

header .menu nav {
    margin: 0;
    text-align: right;
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    background: rgba(0, 0, 0,0.9);
}

header .menu nav ul{
    list-style: none;
    margin:0;
    padding:0 0 5px 0;
}

header .menu nav ul li{
    display: inline;
    width: 100%;
    margin:0 2px;
}
header .menu nav ul li a {
    display: inline-block;
    text-decoration: none;
    margin: 0;
    padding: 15px 10px 5px 10px;
    color: #fff;
    padding-bottom: 9px;
    font-size: 1em;
    border-bottom: 2px solid transparent;
    font-weight: bold;
}

header .menu a:hover{
    border-bottom: 2px solid #fff;
    padding: 15px 10px 9px 10px;
    background-color: var(--celeste);
    font-weight: bold;
}

header .contenedor-texto{
    display:flex;
    margin: 190px 0;
    justify-content: center;
    align-content: center;
}

header .contenedor-texto .texto{
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 5px;
    display:inline-block;
    text-align: center;
    padding: 20px 60px;
}

header .contenedor-texto .texto:hover{
    border: solid 2px rgba(0, 0, 0, 0.8);
    box-shadow: 3px 2px 5px #1c1c1c;
}

header .contenedor-texto .texto h1,
header .contenedor-texto .texto h2{
    color:#fff;
    font-weight: 300;
    margin: 0;
}

header .contenedor-texto .texto .nombre{
    margin-bottom: 10px;
    font-size: 50px;
    line-height: 50px;
}

header .contenedor-texto .texto .profesion{
    font-size: 25px;
    line-height: 25px;
}
/* ------- --- FIN HEADER --- -------*/

/* ------- --- INICIO MAIN --- -------*/
.main .contenedor{
    overflow: visible;
}

.main .acerca-de {
    text-align: center;
}

.main .acerca-de .contenedor .foto{
    margin-top: -60px;
}

.main .acerca-de .contenedor .foto img{
    vertical-align: top;
    border-radius: 100%;
    border: solid 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}


.main .acerca-de .contenedor .foto img:hover{
    transform: scale(1.6);
    border: solid 5px rgba(0, 0, 0, 0.8);
}

.main .acerca-de .texto{
    color: #5a5a5a;
    font-weight: 600;
    font-size: 1em;
    line-height: 30px;
    width: 80%;
    margin: 40px auto 60px auto;
}

.main .acerca-de .texto .titulo{
    font-size:var(--titulos-size);
    line-height:34px;
    margin-bottom: 40px;
    font-weight: 600;
    text-align: center;
    color: #dd820d;
    opacity:0.8;
}

.main .acerca-de .texto .titulo:hover{
    opacity:1;
}

/*-----------------Seccion cursos-----------------*/

.main .cursos{
    background: url('../img/Secciones/cursos.jpg');
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 40px;
}

.main .cursos .contenedor{
    overflow: hidden;
}

.main .cursos .contenedor .titulo{
    font-size: var(--titulos-size);
    padding: 20px 0;
    line-height:34px;
    margin-bottom: 40px;
    font-weight:600;
    color: #dbdaf3;
    text-align: center;
    opacity: 0.8;
}

.main .cursos .titulo:hover{
    opacity:1;
}

.main .cursos .contenedor-cursos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 10px 0 15px;
}

.main .cursos .contenedor-cursos .curso{
    width: 30%;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.main .cursos .contenedor-cursos .curso .thumm-curso{
    width:100%;
    height: 100%;
    margin: 0 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-content: center;
}


.main .cursos .contenedor-cursos .curso .thumm-curso img{
    width: 80%;
    height: 80%;
    border-radius: 100%;
    transition: .2s transform ease;
    opacity: 0.5;
    background-size: cover;
}

.main .cursos .contenedor-cursos .curso .thumm-curso img:hover {
    opacity: 1;
    transform: scale(1.3);
    box-shadow: 13px 13px 13px #0a0a0a;
    cursor: pointer;
}

.main .cursos .contenedor-cursos .curso .descripcion{
    text-align: center;
    width: 100%;
}

.main .cursos .contenedor-cursos .curso .descripcion .nombre{
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 10px;
    font-family: var(--poppins);
}
.main .cursos .contenedor-cursos .curso .descripcion .categoria{
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
}

/*-----------------Fin seccion cursos-------------*/

/*------------INICIO SECCION DE PROYECTOS--------------*/
.main .proyectos{
    background: #f9f6f6;
    padding: 60px;
    background-color: #333;
}

.main .proyectos .contenedor{
    overflow: hidden;
}

.main .proyectos .titulo{
    font-size: var(--titulos-size);
    padding: 20px 0;
    line-height:34px;
    margin-bottom: 40px;
    font-weight:600;
    color: #dbdaf3;
    text-align: center;
    opacity: 0.8;
}

.main .proyectos .titulo:hover{
    opacity:1;
}

.main .proyectos .contenedor-proyectos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 10px 0 10px;
}

.main .proyectos .contenedor-proyectos .proyecto{
    width: 30%;
    margin-bottom: 40px;
}

.main .proyectos .contenedor-proyectos .proyecto .thumb{
    width:80%;
    height: 240px;
    margin: 0 10px 10px 10px;
}

.main .proyectos .contenedor-proyectos .proyecto .thumb img{
    width: 100%;
    height: 240px;
    vertical-align: top;
    border-radius: 5px;
    transition: .2s transform ease;
    opacity: 0.5;
}
.main .proyectos .contenedor-proyectos .proyecto .thumb img:hover {
    opacity: 1;
    transform: scale(1.3);
    box-shadow: 13px 13px 13px #0a0a0a;
    cursor: pointer;
}

.main .proyectos .contenedor-proyectos .proyecto .descripcion{
    text-align: center;
    width: 80%;
}

.main .proyectos .contenedor-proyectos .proyecto .descripcion .nombre{
    font-weight: 700;
    color: var(--celeste);
    margin-bottom: 10px;
}
.main .proyectos .contenedor-proyectos .proyecto .descripcion .categoria{
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
}
/* ------- --- FIN MAIN --- -------*/

/* ------- --- INICIO FOOTER --- -------*/

/* ------- --- Contacto --- -------*/
footer .contacto {
    padding: 60px 0;
    background: rgb(29, 27, 27);
}

footer .contacto .titulo{
    font-size: var(--titulos-size);
    padding: 20px 0;
    line-height:34px;
    margin-bottom: 40px;
    font-weight:600;
    color: var(--celeste);
    text-align: center;
    opacity: 0.8;
}

footer .contacto .titulo:hover{
    opacity:1;
}

footer .contacto .formulario{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

footer .contacto .formulario input[type="text"],
footer .contacto .formulario input[type="email"],
footer .contacto .formulario textarea {
  border: 2px solid #cecece;
  border-radius: 5px;
  padding: 15px 20px;
  font-size: 20px;
  color: #a4a4a4;  
}
footer .contacto .formulario input[type="text"]:hover,
footer .contacto .formulario input[type="email"]:hover,
footer .contacto .formulario textarea:hover{
    outline: none;
    box-shadow: 2px 2px 4px var(--celeste);
    border: 2px solid #2075ed;
}

footer .contacto .formulario input[type="text"]:focus,
footer .contacto .formulario input[type="email"]:focus,
footer .contacto .formulario textarea:focus{
    box-shadow: 4px 4px 6px #201383;
    border: 2px solid #201383;
    outline: none;
}

footer .contacto .formulario input[type="text"],
footer .contacto .formulario input[type="email"]{
    width:42.5%;
    margin-bottom: 15px;
}

footer .contacto .formulario textarea{
    width: 90%;
    height: 100px;
    min-width: 90%;
    max-width: 90%;
    min-height: 100px;
    max-height: 300px;
    margin-bottom: 15px;
}

footer .contacto .formulario .boton{
    margin: auto;
    background: var(--celeste); 
    color: #fff;
    border: 2px solid #0568cb;
    padding: 15px 40px ;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
}

footer .contacto .formulario .boton:hover{
    background: #201383;
    border: 2px solid #201383;
}

/* ------- --- Redes Sociales --- -------*/

footer .redes-sociales{
    background: #1e2b38;
    padding: 60px 0;
}

footer .redes-sociales .contenedor{
    display: flex;
    justify-content: center;
}

footer .redes-sociales a{
    color: #fff;
    text-align: center;
    width: 100px;
    display: block;
    padding: 15px 0;
    border-radius: 5%;
    font-size: 30px;
    margin: 0 20px;
}

footer .redes-sociales .twitter:hover {
    background: #1da1f2;
    border: double 3px #000;
}

footer .redes-sociales .facebook:hover {
    background: #1877f2;
    border: double 3px #000;
}

footer .redes-sociales .linkedin:hover {
    background: #0e76A8;
    border: double 3px #000;
}

footer .redes-sociales .github:hover {
    background: #333;
    border: double 3px #000;
}

footer .redes-sociales .instagram:hover {
    background: #833ab4;
    border: double 3px #000;
}

/*-----------------MEDIA QS--------------------*/

@media screen and (max-width: 800px) {
   header .menu{
    text-align: center;
   }

   .main .proyectos .contenedor-proyectos .proyecto{
       width: 46%;
   }

   .main .cursos .contenedor-cursos .curso{
    width: 46%;
    }
    .main .cursos{
    background-size: cover;
    }

}

@media screen and (max-width: 590px) {
    
    .main .proyectos .contenedor-proyectos .proyecto{
        width: 90%;
    }

    .main .proyectos .contenedor .titulo{
        line-height: 1.5;
    }
    
    .main .cursos .contenedor-cursos .curso{
        width: 46%;
    }

    .main .cursos .contenedor .titulo{
        line-height: 1.5;
    }
   
    .main .cursos{
        background-size: cover;
    }
 
 }

@media screen and (max-width: 500px) {
    header .contenedor-texto .texto .nombre {
     font-size: 35px ;
    }
 
    header .contenedor-texto .texto .profesion {
        font-size: 18px ;
    }

    footer .redes-sociales .contenedor{
        flex-wrap: wrap;
        padding: 20px 0;
    }

    .main .cursos{
        background-size: cover;
    }
    .main .proyectos .contenedor .titulo{
        line-height: 1.5;
    }

    footer .contacto .formulario input{
        width: 100%;
    }

    footer .contacto .formulario input[type="text"],
    footer .contacto .formulario input[type="email"],
    footer .contacto .formulario textarea{
    width:100%;
    margin-bottom: 15px;
    min-width: 100%;
    }

    .main .acerca-de .texto .titulo, 
    .main .cursos .contenedor .titulo,
    .main .proyectos .contenedor .titulo,
    footer .contacto .contenedor .titulo{
        font-size: 30px;
    }
 
 }
 @media screen and (max-width: 390px) {
    
    header .contenedor-texto .texto .nombre{
        font-size: 25px;
    }

    header .contenedor-texto .texto .profesion{
        font-size: 20px;
    }

    header .menu nav ul li a {
        font-size: 11px;
    }

    .main .cursos .contenedor-cursos .curso{
        width: 90%;
    }

    .main .cursos .contenedor .titulo{
        line-height: 1.5;
    }

    .main .proyectos .contenedor .titulo{
        line-height: 1.5;
    }

    .main .proyectos .contenedor-proyectos .proyecto{
        width: 90%;
    }
    
    .main .cursos{
        background-repeat: repeat;
    }

    footer .contacto .formulario input[type="text"],
    footer .contacto .formulario input[type="email"],
    footer .contacto .formulario textarea{
    width:100%;
    margin-bottom: 15px;
    min-width: 100%;
    }

    .main .acerca-de .texto .titulo, 
    .main .cursos .contenedor .titulo,
    .main .proyectos .contenedor .titulo,
    footer .contacto .contenedor .titulo{
        font-size: 30px;
    }

    .main .cursos .contenedor-cursos .curso .thumm-curso{
        width:90%;
        height: 140px;
        margin: 0 10px 10px 10px;
    }

    .main .cursos .contenedor-cursos .curso .thumm-curso img{
        width: 100%;
        height: 140px;
        align-items: center;
    }

    .main .cursos .contenedor-cursos .curso .descripcion{
        text-align: center;
        width: 100%;
    }
    
    .main .cursos .contenedor-cursos .curso .descripcion .nombre{
        font-weight: 700;
        color: #ffffff;
        margin-bottom: 10px;
        font-family: var(--poppins);
        font-size: 15px;
    }

    .main .proyectos{
        width:100%;
        margin: 0 ;
        padding:0;
    }

    .main .proyectos .contenedor-proyectos .proyecto{
        width: 100%;
    }
    
    .main .proyectos .contenedor-proyectos .proyecto .thumb{
        width:100%;
        height: 240px;
        margin: 0 10px 10px 10px;
    }

    .main .proyectos .contenedor-proyectos .proyecto .descripcion{
        text-align: center;
        width: 100%;
    }
 
 }
